@import "vendors/_bootstrap";

ul {
    margin: 0 !important;
}

.form {
    &-select {
        &-per {
            width: 5rem;
        }
    }
}

// Outside Styling...
.File {
    &-options {
        &-btn {
            background: white;
            border: 1px solid gray;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100%;
            padding: 0.25rem;
            &:hover {
                background: white !important;
                border: 1px solid gray !important;
            }
        }
        &-icon {
            color: gray !important;
            font-size: 12px !important;
        }
    }
}

.flex-btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.375rem;
}
